.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    article {
        margin-top: 100px;
        height: 700px;
        width: 525px;
        margin:60px;
        text-align: center;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include shadows;
    }
    h3{
        font-size: 45px;
    }
    /* LA NOTE ENCHANTEE */
    #LNE {
        background-color: rgb(252,223,219);
        color: rgb(60,18,24);
        h2 {
            font-family: 'ranchoregular', Arial, Helvetica, sans-serif;
        }
        .titre{
            text-transform: uppercase;
            font-family: 'ranchoregular', Arial, Helvetica, sans-serif;
        }
        img {
            margin-left: auto;
            margin-right: auto;
        }
        #logo-note{
            height: 80px;
        }
    }
    /* LE CHIC A LA FRANCAISE */
    #LCALF {
        background-color: rgb(255,245,254);
        h2 {
            background: linear-gradient(to right, #c77412 0%, #7738cf 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'rochesterregular', Arial, Helvetica, sans-serif;
        }
        .titre{
            font-family: 'rochesterregular', Arial, Helvetica, sans-serif;
        }
        .orange{
            color:#c77412;
        }
        .violet{
            color:#7738cf;
        }
        .bleu{
            color:#0080ff;
            margin-bottom: 70px;
        }
    }
    /* LE DELICE DES PAPILLES */
    #LDDP {
        background-color: rgb(249,249,249);
        h2 {
            background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'sevillanaregular', Arial, Helvetica, sans-serif;
        }
        .titre{
            font-family: 'blokletters_balpenbalpen', Arial, Helvetica, sans-serif;
        }
        h3 {
            color: #330867;
        }
    }
    /* LA PALETTE DU GOUT */
    #LPDG {
        background-color: rgb(253,253,253);
        h2 {
            background: linear-gradient(to right, #337500 0%, #b6db9a 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'berkshire_swashregular', Arial, Helvetica, sans-serif;
        }
        h3 {
            color: #b6db9a;
        }
        .titre{
            font-family: 'blokletters_balpenbalpen', Arial, Helvetica, sans-serif;
        }
    }
}


